@using Newtonsoft.Json
@using System.Linq
@using Microsoft.AspNet.Identity

@{
    ViewData["Title"] = "Tu calculadora de apuestas";
}


<style>

    .mycaptionFav {
        text-align: left;
        padding: 5px 10px;
        background-color: #fff;
        color: #f60;
        font-weight: bold;
        font-size: large;
    }

    .terms {
        display: flex;
        padding-top: 2px;
    }

        .terms > p {
            margin: 0;
        }

    .plus-minus-input {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .plus-minus-input .input-group-field {
            text-align: center;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            padding: 1rem;
        }

            .plus-minus-input .input-group-field::-webkit-inner-spin-button,
            .plus-minus-input .input-group-field ::-webkit-outer-spin-button {
                -webkit-appearance: none;
                appearance: none;
            }

        .plus-minus-input .input-group-button .circle {
            border-radius: 50%;
            padding: 0.25em 0.8em;
        }


    .panel-group {
        margin-bottom: 0px;
    }

    .modal-body {
        padding: 0px;
    }

    .containerCheckbox {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: medium;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .containerCheckbox input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .containerCheckbox:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .containerCheckbox input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .containerCheckbox input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .containerCheckbox .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #calendar {
        font-family: Arial;
        font-size: 12px;
    }

        #calendar caption {
            text-align: left;
            padding: 5px 10px;
            background-color: #777;
            color: #fff;
            font-weight: bold;
            font-size: medium;
        }

            #calendar caption div:nth-child(1) {
                float: left;
            }

            #calendar caption div:nth-child(2) {
                float: right;
            }

                #calendar caption div:nth-child(2) a {
                    cursor: pointer;
                    color: white;
                }


        #calendar th {
            /*background-color:#006699;*/
            color: #f60;
            width: 40px;
        }

        #calendar td {
            text-align: center;
            /*padding:2px 5px;*/
            font-size: 14px;
            /*cursor:pointer;*/
            /*background-color:silver;*/
        }

            #calendar td:hover {
                background-color: #f60;
                color: #fff;
                cursor: pointer;
            }

        #calendar .esEventohoy {
            background-color: orange;
            color: red;
        }

        #calendar .esEvento {
            background-color: orange;
            /*color:red;*/
        }

    /*.esEvento {
        color:red;
    }*/


    .padre {
        /*background: yellow;
      height: 150px;*/
        /*IMPORTANTE*/
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .mylabelR {
        text-align: right;
    }

    .hijo {
        width: 70%;
    }

    .hijoCalendar {
        height: 350px;
        /*width: 60%;*/
    }

    thead {
        background-color: white;
        color: #fff;
    }

    .mytheadJugada {
        background-color: #f60;
        color: #fff;
        text-align: center;
        font-size: 10px;
        border-top: 1px solid #dddddd;
    }

    .mycaptionJugada {
        text-align: right;
        padding: 5px 10px;
        background-color: #fff;
        color: #f60;
        font-weight: bold;
        font-size: large;
    }

    .mythead {
        background-color: #f60;
        color: #fff;
        text-align: center;
        font-size: 10px;
        border-top: 1px solid #dddddd;
    }

    .mycaptionthead {
        text-align: right;
        padding: 5px 10px;
        background-color: #fff;
        color: #f60;
        font-weight: bold;
        font-size: large;
    }

    .centerImagen {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .myTable {
        margin-bottom: 0;
    }

    .myTableHead {
        margin-bottom: 0;
        width: 100%;
    }

    .myTableHeadJugada {
        margin-bottom: 0;
        width: 100%;
    }

    .myHeadAcordeon {
        background-color: #585858;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
    }

    th {
        text-align: center;
        font-size: 10px;
    }

    td {
        background-color: #fff;
        font-size: 10px;
    }

    .mylabelChk {
        font-size: 7px;
    }

    .mylabel {
        font-size: 10px;
    }

    .mytdDiaCal {
        font-size: 14px;
    }

    .mytd:hover {
        background-color: #f60;
        color: #fff;
        cursor: pointer;
    }

    .mytd, .mytd2 {
        text-align: center;
        font-size: 10px;
    }

    .mytd3 {
        text-align: center;
        font-size: 12px;
    }

    /*.form-control {
        padding: .23rem .35rem;
    }*/

    .myformgroupJugada {
        height: 200px;
    }

    .nopadding {
        padding-left: 0px;
        padding-right: 0px;
    }

    .mysearch {
        padding: 0px 0px;
    }

    .mysearchSpin {
        padding: 2px 10px;
    }
</style>

<div class="row">
    <div class="col-md-12 nopadding">
        <form action="/Home/Upload2" method="post" enctype="multipart/form-data">
            <div class="panel-group" id="accordion02" role="tablist" aria-multiselectable="true">
                <div class="panel">
                    <div class="panel-heading myHeadAcordeon" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h4 class="panel-title">
                            <span>
                                <span id="lblNombreArchivo"></span>
                            </span>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-6 col-xs-6 pull-left">
                                            <input id="txtBuscar" type="text" class="form-control" placeholder="Busca tu equipo" onkeyup="cargarTorneoHoy()">
                                        </div>
                                        <div class="col-md-6 col-xs-6 pull-left" style="padding-top: 5px;">
                                            <div class="col-md-3 col-xs-3 nopadding" style="text-align:center;">
                                                <span class="fa fa-clock-o fa-2x mysearch btn" id="imgEvalHora" onclick="evaluaHora()"></span><span class="hidden" id="lblsearchProximos"></span>
                                            </div>
                                            <div class="col-md-3 col-xs-3 nopadding" style="text-align:center;">
                                                <span class="fa fa-calendar fa-2x mysearch btn" data-toggle="modal" data-target="#exampleModal"></span>
                                            </div>
                                            <div class="col-md-3 col-xs-3 nopadding" style="text-align:center;">
                                                <span class="fa fa-trophy fa-2x mysearch btn" data-toggle="modal" data-target="#exampleModal3"></span>
                                            </div>
                                            <div class="col-md-3 col-xs-3 nopadding" style="text-align:center;">
                                                <span class="fa fa-star fa-2x mysearch btn" id="imgEvalFav" onclick="evalFav()"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row" style="margin-top:15px;">
                                <div class="col-md-12">
                                    <div class="box-body table-responsive no-padding" style="z-index:-999;">
                                        <div>
                                            <table id="tableHeader" class="table myTableHead">
                                                <caption class="mycaptionthead"><span></span><span style="font-size:x-small"></span></caption>
                                                <thead id="tbodyHeader" class="mythead">
                                                    <tr style="height: 30px;">
                                                        <th class="col0" style="width:20px; padding: 4px; padding-bottom:7px;"><span style="font-size:xx-small;">TORNEO</span></th>
                                                        <th class="col1" style="width:20px; padding: 4px; padding-bottom:7px;"><span style="font-size:xx-small;">HORA</span></th>
                                                        <th class="col2" style="width:20px; padding: 4px; padding-bottom:7px;"><span style="font-size:xx-small;">COD</span></th>
                                                        <th class="col3" style="width:30px; padding: 4px; padding-bottom:7px;"><span style="font-size:xx-small;">MIN</span></th>
                                                        <th class="col4" style="width:100px; padding: 4px; padding-bottom:7px;"><span>LOCAL</span></th>
                                                        <th class="col5" style="width:50px; padding: 4px; padding-bottom:7px;"><span>L</span></th>
                                                        <th class="col6" style="width:50px; padding: 4px; padding-bottom:7px;"><span>E</span></th>
                                                        <th class="col7" style="width:50px; padding: 4px; padding-bottom:7px;"><span>V</span></th>
                                                        <th class="col8" style="width:100px; padding: 4px; padding-bottom:7px;"><span>VISITA</span></th>
                                                        <th class="col9" style="width:50px; padding: 4px; padding-bottom:7px;"><span>LoE</span></th>
                                                        <th class="col10" style="width:50px; padding: 4px; padding-bottom:7px;"><span>LoV</span></th>
                                                        <th class="col11" style="width:50px; padding: 4px; padding-bottom:7px;"><span>EoV</span></th>
                                                        <th class="col12" style="width:50px; padding: 4px; padding-bottom:7px;"><span>1TL</span></th>
                                                        <th class="col13" style="width:50px; padding: 4px; padding-bottom:7px;"><span>1TE</span></th>
                                                        <th class="col14" style="width:50px; padding: 4px; padding-bottom:7px;"><span>1TV</span></th>
                                                        <th class="col15" style="width:50px; padding: 4px; padding-bottom:7px;"><span>2TL</span></th>
                                                        <th class="col16" style="width:50px; padding: 4px; padding-bottom:7px;"><span>2TE</span></th>
                                                        <th class="col17" style="width:50px; padding: 4px; padding-bottom:7px;"><span>2TV</span></th>
                                                        <th class="col18" style="width:50px; padding: 4px; padding-bottom:7px;"><span>L/L</span></th>
                                                        <th class="col19" style="width:50px; padding: 4px; padding-bottom:7px;"><span>E/L</span></th>
                                                        <th class="col20" style="width:50px; padding: 4px; padding-bottom:7px;"><span>V/L</span></th>
                                                        <th class="col21" style="width:50px; padding: 4px; padding-bottom:7px;"><span>L/E</span></th>
                                                        <th class="col22" style="width:50px; padding: 4px; padding-bottom:7px;"><span>E/E</span></th>
                                                        <th class="col23" style="width:50px; padding: 4px; padding-bottom:7px;"><span>V/E</span></th>
                                                        <th class="col24" style="width:50px; padding: 4px; padding-bottom:7px;"><span>L/V</span></th>
                                                        <th class="col25" style="width:50px; padding: 4px; padding-bottom:7px;"><span>E/V</span></th>
                                                        <th class="col26" style="width:50px; padding: 4px; padding-bottom:7px;"><span>V/V</span></th>
                                                        <th class="col27" style="width:50px; padding: 4px; padding-bottom:7px;"><span>-1.5</span></th>
                                                        <th class="col28" style="width:50px; padding: 4px; padding-bottom:7px;"><span>+1.5</span></th>
                                                        <th class="col29" style="width:50px; padding: 4px; padding-bottom:7px;"><span>-2.5</span></th>
                                                        <th class="col30" style="width:50px; padding: 4px; padding-bottom:7px;"><span>+2.5</span></th>
                                                        <th class="col31" style="width:50px; padding: 4px; padding-bottom:7px;"><span>-3.5</span></th>
                                                        <th class="col32" style="width:50px; padding: 4px; padding-bottom:7px;"><span>+3.5</span></th>
                                                        <th class="col33" style="width:50px; padding: 4px; padding-bottom:7px;"><span>0-1</span></th>
                                                        <th class="col34" style="width:50px; padding: 4px; padding-bottom:7px;"><span>2-3</span></th>
                                                        <th class="col35" style="width:50px; padding: 4px; padding-bottom:7px;"><span>4+</span></th>
                                                        <th class="col36" style="width:50px; padding: 4px; padding-bottom:7px;"><span>A</span></th>
                                                        <th class="col37" style="width:50px; padding: 4px; padding-bottom:7px;"><span>NA</span></th>
                                                        <th class="col38" style="width:50px; padding: 4px; padding-bottom:7px;"><span>I</span></th>
                                                        <th class="col39" style="width:50px; padding: 4px; padding-bottom:7px;"><span>P</span></th>
                                                        <th class="col40" style="width:20px; padding: 0px; padding-bottom:3px; cursor:pointer;" data-toggle="modal" data-target="#exampleModal2">
                                                            <span>
                                                                <i class="fa fa-plus-circle fa-2x mysearch btn" style="margin-right: 0px; height: -6px;"></i>
                                                            </span>
                                                        </th>
                                                    </tr>
                                                </thead>

                                            </table>
                                        </div>
                                        <div style="height:250px; overflow:visible; overflow-y: scroll;" >
                                            <table id="tblmyDataTable" class="table myTable">
                                                <tbody id="tbody">
                                                    @if (Model != null)
                                                    {
                                                        foreach (var c in Model.Lista)
                                                        {
                                                            <tr id="trID_@c.ID">
                                                                <td style="width:10px; text-align:center; padding: 4px; background: url('/Imagenes/flags/@c.Imagen') no-repeat center left; padding-left: 20px; "><span style="font-size:xx-small;">@c.TORNEO</span></td>
                                                                <td style="width:20px; text-align:center; padding: 4px; font-size:xx-small;">@c.HORA</td>
                                                                <td style="width:20px; text-align:center; padding: 4px; font-size:xx-small;">@c.COD</td>
                                                                <td style="width:30px; text-align:center; padding: 4px; font-size:xx-small;">@c.MINIMO</td>
                                                                <td style="width:100px; text-align:left; padding: 4px;">@c.LOCAL</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.L" onclick="addJugada('L','@c.COD','@c.L')" class="mytd">@c.L</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.E" onclick="addJugada('E','@c.COD','@c.E')" class="mytd">@c.E</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.V" onclick="addJugada('V','@c.COD','@c.V')" class="mytd">@c.V</td>
                                                                <td style="width:100px; padding: 4px; text-align:left;">@c.VISITA</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.LoE" onclick="addJugada('LoE','@c.COD','@c.LoE')" class="mytd">@c.LoE</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.LoV" onclick="addJugada('LoV','@c.COD','@c.LoV')" class="mytd">@c.LoV</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.EoV" onclick="addJugada('EoV','@c.COD','@c.EoV')" class="mytd">@c.EoV</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.PTL" onclick="addJugada('1TL','@c.COD','@c.PTL')" class="mytd">@c.PTL</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.PTE" onclick="addJugada('1TE','@c.COD','@c.PTE')" class="mytd">@c.PTE</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.PTV" onclick="addJugada('1TV','@c.COD','@c.PTV')" class="mytd">@c.PTV</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.STL" onclick="addJugada('2TL','@c.COD','@c.STL')" class="mytd">@c.STL</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.STE" onclick="addJugada('2TE','@c.COD','@c.STE')" class="mytd">@c.STE</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.STV" onclick="addJugada('2TV','@c.COD','@c.STV')" class="mytd">@c.STV</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.LL" onclick="addJugada('L/L','@c.COD','@c.LL')" class="mytd">@c.LL</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.EL" onclick="addJugada('E/L','@c.COD','@c.EL')" class="mytd">@c.EL</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.VL" onclick="addJugada('V/L','@c.COD','@c.VL')" class="mytd">@c.VL</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.LE" onclick="addJugada('L/E','@c.COD','@c.LE')" class="mytd">@c.LE</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.EE" onclick="addJugada('E/E','@c.COD','@c.EE')" class="mytd">@c.EE</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.VE" onclick="addJugada('V/E','@c.COD','@c.VE')" class="mytd">@c.VE</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.LV" onclick="addJugada('L/V','@c.COD','@c.LV')" class="mytd">@c.LV</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.EV" onclick="addJugada('E/V','@c.COD','@c.EV')" class="mytd">@c.EV</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.VV" onclick="addJugada('V/V','@c.COD','@c.VV')" class="mytd">@c.VV</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.MenosUnoPuntoCinco" onclick="addJugada('-1.5','@c.COD','@c.MenosUnoPuntoCinco')" class="mytd">@c.MenosUnoPuntoCinco</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.MasUnoPuntoCinco" onclick="addJugada('+1.5','@c.COD','@c.MasUnoPuntoCinco')" class="mytd">@c.MasUnoPuntoCinco</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.MenosDosPuntoCinco" onclick="addJugada('-2.5','@c.COD','@c.MenosDosPuntoCinco')" class="mytd">@c.MenosDosPuntoCinco</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.MasDosPuntoCinco" onclick="addJugada('+2.5','@c.COD','@c.MasDosPuntoCinco')" class="mytd">@c.MasDosPuntoCinco</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.MenosTresPuntoCinco" onclick="addJugada('-3.5','@c.COD','@c.MenosTresPuntoCinco')" class="mytd">@c.MenosTresPuntoCinco</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.MasTresPuntoCinco" onclick="addJugada('+3.5','@c.COD','@c.MasTresPuntoCinco')" class="mytd">@c.MasTresPuntoCinco</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.CeroUnGol" onclick="addJugada('0-1','@c.COD','@c.CeroUnGol')" class="mytd">@c.CeroUnGol</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.DosTresGol" onclick="addJugada('2-3','@c.COD','@c.DosTresGol')" class="mytd">@c.DosTresGol</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.CuatroMasGol" onclick="addJugada('4+','@c.COD','@c.CuatroMasGol')" class="mytd">@c.CuatroMasGol</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.AmbosAnotan" onclick="addJugada('A','@c.COD','@c.AmbosAnotan')" class="mytd">@c.AmbosAnotan</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.NingunoAnota" onclick="addJugada('NA','@c.COD','@c.NingunoAnota')" class="mytd">@c.NingunoAnota</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.Impar" onclick="addJugada('I','@c.COD','@c.Impar')" class="mytd">@c.Impar</td>
                                                                <td style="width:50px; padding: 4px;" id="tdID_@c.COD@c.Par" onclick="addJugada('P','@c.COD','@c.Par')" class="mytd">@c.Par</td>
                                                                <td style="width:5px; padding: 4px;"></td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>

                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordion03" role="tablist" aria-multiselectable="true">
                <div class="panel">
                    <div class="panel-heading myHeadAcordeon" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h4 class="panel-title">
                            <span>
                                Combinaciones
                            </span>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-6 col-xs-12 nopadding">
                                    <div>
                                        <div class="col-md-12 col-xs-12" style="border:2px solid #f60; padding:10px; border-radius: 10px;">
                                            <div class="col-md-6 col-xs-6">
                                                <div class="terms pull-left">
                                                    <span class="fa fa-minus-circle fa-2x hollow nopadding mysearchSpin btn" aria-hidden="true" data-quantity="minus" data-field="quantity"></span>
                                                    <input id="lblApuesta" style="width:70px;" class="input-group-field form-control" onkeyup="calcGananciaTotal();" onchange="calcGananciaTotal();" type="number" name="quantity" value="2" min="0" max="100" maxlength="5" control-id="ControlID-2">
                                                    <span class="fa fa-plus-circle fa-2x hollow nopadding mysearchSpin btn" aria-hidden="true" data-quantity="plus" data-field="quantity"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6" style="margin-top:5px;">
                                                <div class="pull-right">
                                                    <label style="font-size:x-small;" for="total">Total S/. </label>
                                                    <label for="lblGanancia" id="lblGanancia" style="font-size:x-large;">0.00</label>
                                                    <span id="lblTotalfoot" class="hide"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12 col-xs-12" style="margin-top:15px;">
                                            <div class="box-body table-responsive no-padding" style="z-index: -900;">
                                                @if (Model != null)
                                                {
                                                    <table id="tableHeaderJugada" class="table myTableHeadJugada">
                                                        <caption class="mycaptionJugada"><span style="font-size:x-small">Cuota: </span><span id="lblCuota">0</span></caption>
                                                        <thead class="mytheadJugada">
                                                            <tr>
                                                                <th style="width:50px;"><span style="font-size:xx-small">TOR</span></th>
                                                                <th style="width:50px;"><span style="font-size:xx-small">HORA</span></th>
                                                                <th style="width:50px;"><span style="font-size:xx-small">COD</span></th>
                                                                <th style="width:150px;"><span>EQUIPOS</span></th>
                                                                <th style="width:50px;"><span>JUG</span></th>
                                                                <th style="width:50px;"><span>CUOTA</span></th>
                                                                <th style="width:50px;"><span></span></th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    <div style="height:180px; overflow:auto; border-bottom:inset; border-bottom-color: #f60; border-inline: none; border-top: none;">
                                                        <table id="tblJugada" class="table">
                                                            <tbody id="tbodyJugada"></tbody>
                                                            <tfoot id="tfootJugada"></tfoot>
                                                        </table>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordion04" role="tablist" aria-multiselectable="true">
                <div class="panel">
                    <div class="panel-heading myHeadAcordeon" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <h4 class="panel-title">
                            <span>
                                Apoya al creador
                            </span>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="padre">
                                    <div class="hijo">
                                        <div class="col-md-12">

                                            <div class="row">
                                                <p class="text-center w-responsive mx-auto mb-5">
                                                    Si te gusto el contenido puedes apoyar al creador donando por Yape o Paypal.
                                                </p>

                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <img src="~/Imagenes/yapebcplogo.jpg" border="0" width="300" class="centerImagen" />
                                                    </div>
                                                    <br />
                                                    <div class="row">
                                                        <a title="Apoya el trabajo del creador" target="_blank" href="https://paypal.me/miguelgargurevich?locale.x=es_XC"><img src="~/Imagenes/paypal.jfif" border="0" class="centerImagen" width="200" /></a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="partialCalendar">
                @Html.Partial("_PartialModalCalendar")
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="partialCabeceras">
                @Html.Partial("_PartialModalCabeceras")
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="partialTorneosHoy">
                @Html.Partial("_PartialModalTorneosHoy")
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="partialEquiposFav">
                @Html.Partial("_PartialModalFavoritos")
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">

    var actual = new Date();

    $(document).ready(function () {
        evalScreen();

        // This button will increment the value
        $('[data-quantity="plus"]').click(function (e) {
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            fieldName = $(this).attr('data-field');
            // Get its current value
            var currentVal = parseInt($('input[name=' + fieldName + ']').val());
            // If is not undefined
            if (!isNaN(currentVal) && currentVal < 100) {
                // Increment
                $('input[name=' + fieldName + ']').val(currentVal + 1);
            }
            //else {
            //    // Otherwise put a 0 there
            //    $('input[name=' + fieldName + ']').val(0);
            //}

            calcGananciaTotal();
        });
        // This button will decrement the value till 0
        $('[data-quantity="minus"]').click(function (e) {
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            fieldName = $(this).attr('data-field');
            // Get its current value
            var currentVal = parseInt($('input[name=' + fieldName + ']').val());
            // If it isn't undefined or its greater than 0
            if (!isNaN(currentVal) && currentVal > 0) {
                // Decrement one
                $('input[name=' + fieldName + ']').val(currentVal - 1);
            } else {
                // Otherwise put a 0 there
                $('input[name=' + fieldName + ']').val(0);
            }

            calcGananciaTotal();
        });

    });

    function evalScreen() {
        const windowOuterWidth = window.outerWidth;
        const windowOuterHeight = window.outerHeight;

        var listaCabecerasFav = @Html.Raw(JsonConvert.SerializeObject(this.Model.ListaCabecerasFav));
        var listaCabecerasMin = @Html.Raw(JsonConvert.SerializeObject(this.Model.ListaCabecerasMin));

        if (listaCabecerasFav != null) {
            activarCheck(listaCabecerasMin, true);

            if (windowOuterWidth < 1536) {
                listaCabecerasMin.forEach(function (index) {
                    cargarOpcion(index);
                    document.getElementById('chk' + index).checked = false;
                });
                document.getElementById('imgInclina').style.display = "block";

            }
            else {
                listaCabecerasFav.forEach(function (index) {
                    cargarOpcion(index);
                    document.getElementById('chk' + index).checked = false;
                });
                document.getElementById('imgInclina').style.display = "none";
            }

        }

        var objArchivo = @Html.Raw(JsonConvert.SerializeObject(this.Model.Archivo));
        if (objArchivo != null) {
            var obj = JSON.stringify(objArchivo);
            var r = $.parseJSON(obj);
            document.getElementById('lblNombreArchivo').innerHTML = r.Name.replace(".txt", "");
        }

        document.getElementById('txtBuscar').addEventListener('keydown', findCharacters);
        //disableChk();

        mostrarCalendario(actual.getFullYear(), actual.getMonth() + 1);


        const dtPrograma = document.getElementById('tblmyDataTable');
        const dtProgramaHeader = document.getElementById('tableHeader');
        const dtJugada = document.getElementById('tblJugada');
        const dtJugadaHeader = document.getElementById('tableHeaderJugada');

        var totalCuota = document.getElementById('lblTotalfoot').innerText;

        if (isNullOrEmpty(totalCuota))
            totalCuota = "0";

        //dtProgramaHeader.getElementsByTagName("span")[0].innerText = dtPrograma.rows.length;
        //dtProgramaHeader.getElementsByTagName("span")[1].innerText = " / " + dtPrograma.rows.length;
        dtProgramaHeader.getElementsByTagName("span")[1].innerText = dtPrograma.rows.length;
        //dtJugadaHeader.getElementsByTagName("span")[0].innerText = "Cuota: " + totalCuota;
        document.getElementById('lblCuota').innerText = totalCuota;


        //$('.js-example-basic-multiple').select2();

        var element = document.getElementById("imgEvalFav");
        //element.classList.add("fa-border");

        //const note = document.querySelector('.note');
        //note.style.backgroundColor = 'yellow';
        var isAuth = evalIsAuth();
        if (isAuth == true) {
            element.style.color = 'gold';

            var chk = document.getElementById("seleccionar-torneos-favoritos");
            chk.checked = true;
            evalChecksTorneosFav();
        }

    }

    function evalIsAuth() {
        var isRequestAuthenticated = '@Request.IsAuthenticated';
        var ret = false;
        if (isRequestAuthenticated == 'True')
            ret = true;
        else
            ret = false;
        return ret;
    }

    function evalFav() {
        var isRequestAuthenticated = '@Request.IsAuthenticated';

        if (isRequestAuthenticated == 'True') {
            var usuario = '@User.Identity.GetUserName()';
            $('#exampleModal4').modal('toggle');
            //$('#exampleModal4').modal('show');
        }
        else {
            alert("Debes iniciar sesion para ver tus favoritos");
        }
    }

    function seleccionarTorneosTodos() {

        var chkFav = document.getElementById("seleccionar-torneos-favoritos");
        chkFav.checked = false;

        var chk = document.getElementById("seleccionar-todos");
        $("#divlistaTorneosHoy .ckecks").each(function () {
            $(this)[0].checked = chk.checked;
        });

        cargarTorneoHoy();

    }

    function seleccionarTorneosFavoritos() {
        //var chk = document.getElementById("seleccionar-torneos-favoritos");
        evalChecksTorneosFav();
    }

    function evalChecksTorneosFav() {
        //var chk = document.getElementById("seleccionar-todos");
        var myarrTorneosFav = [];

        $('#mylistaTorneosFav tbody').find('tr').each(function (i, el) {
            var nomCortoTorneoFav = $(this).find('td').eq(1).text().trim();
            myarrTorneosFav.push(nomCortoTorneoFav);
        });

        var concatTorneos = makeString(myarrTorneosFav);

        $("#divlistaTorneosHoy .ckecks").each(function () {
            $(this)[0].checked = "";
            var existeEnTornoFav = false;
            var nomCheck = $(this)[0].value;
            existeEnTornoFav = evaluaExisteEnListaFav(nomCheck, myarrTorneosFav)

            if (existeEnTornoFav) {
                $(this)[0].checked = true;
            }

        });
        
        cargarTorneoHoy();

    }

    function evaluaExisteEnListaFav(valor, listaTorneosFavValues) {
        var ret = false;
        if (!isNullOrEmpty(listaTorneosFavValues)) {
            if (listaTorneosFavValues.indexOf(valor) > -1)
                ret = true;
        }

        return ret;
    }



    function findCharacters(event) {

        if (event.keyCode == 13) {
            event.preventDefault();
            cargarTorneoHoy();
        }
    }

    function scrollTable() {
        var tableBody = document.getElementById('event-table-body');
        var tableRows = tableBody.getElementsByTagName('tr');
        let targetElement = tableRows[7];
        targetElement.scrollIntoView();
    }

    function evalCheckOpcion(id) {
        var tableBody = document.getElementById('divListaCabeceras');
        var miscasillas = tableBody.getElementsByTagName('input');
        var contCheck = 0;

        for (i = 0; i < miscasillas.length; i++) {
            if (miscasillas[i].type == "checkbox") {
                if (miscasillas[i].checked) {
                    contCheck++;
                }
            }
        }

        //const windowOuterWidth  = window.outerWidth;
        //const screenWidth = screen.width;
        //if (windowOuterWidth < 1024)
        //{
        //    if (contCheck>14)
        //    {
        //        var mychkid = "chk"+id;
        //        document.getElementById(mychkid).checked= false;

        //        alert("Max. 10 columnas");
        //    }
        //    else
        //    {
        //        cargarOpcion(id);
        //    }
        //}
        //else
        //    if (windowOuterWidth < 1280)
        //        cargarOpcion(id);
        //    else
        //        cargarOpcion(id);

        cargarOpcion(id);
    }

    function cargarOpcion(id) {
        var cabecera = '.col' + id;
        var rowId = id + 1;
        var filas = 'td:nth-child(' + rowId + ')';
        //$('#myTable tr > *:nth-child(2)').hide();
        filas = '#tblmyDataTable td:nth-child(' + rowId + ')'
        $(cabecera).toggle();
        $(filas).toggle();
    }

    function activarCheck(lista, bool) {
        var myarr = lista;
        var miscasillas = document.getElementsByTagName('input'); //Rescatamos controles tipo Input
        for (i = 0; i < miscasillas.length; i++) //Ejecutamos y recorremos los controles
        {
            if (miscasillas[i].type == "checkbox") // Ejecutamos si es una casilla de verificacion
            {
                miscasillas[i].checked = bool; // Si el input es CheckBox se aplica la funcion ActivarCasilla
            }
        }
    }

    function disableChk() {
        //var arrDisable = [0,3,4,8];
        var arrDisable = [];
        for (i = 0; i <= 8; i++) //Ejecutamos y recorremos los controles
        {
            var id = "chk" + i;
            if (arrDisable.indexOf(i) > -1)
                document.getElementById(id).disabled = true;
            else
                document.getElementById(id).disabled = false;

        }
    }

    function delJugada(cod) {
        var id = 'trJugada_' + cod;
        var tr = document.getElementById(id);
        var table = tr.parentNode;
        table.removeChild(tr);

        calcTotalCuotas();
        calcGananciaTotal();

        if (table.rows.length == 0)
            $('#collapseThree').collapse('hide');
    }

    function validaValorCuota(val) {
        var ret = true;
        if (val == "-" || val == "")
            ret = false;
        else
            ret = true;

        return ret;
    }

    function addJugada(JUGADA, COD, CUOTA) {
        var valValCuota = validaValorCuota(CUOTA);
        if (valValCuota == false) return false;
        $('#collapseThree').collapse('show');

        var valRep = valRepetidos(JUGADA, COD, CUOTA);
        if (valRep == false) return false;

        var modelLista = @Html.Raw(JsonConvert.SerializeObject(this.Model.Lista));
        var nuevoObj = [];

        $.each(modelLista, function (i, item) {
            var obj = JSON.stringify(item);
            var r = $.parseJSON(obj);

            if (r.COD == COD) {
                nuevoObj.push({
                    TORNEO: r.TORNEO,
                    HORA: r.HORA,
                    COD: r.COD,
                    EQUIPOS: r.LOCAL + ' - ' + r.VISITA,
                    JUGADA: JUGADA,
                    CUOTA: CUOTA,
                    IMAGEN: r.Imagen
                });
                return;
            }
        });

        //var urlImagen = "/Imagenes/flags/"+ nuevoObj[0].IMAGEN;
        //var img = new Image();
        //img.src = urlImagen;||

        var contendor = $("#tbodyJugada").html();
        var nuevaFila = '<tr style="width:50px;" id="trJugada_' + nuevoObj[0].COD + '">';
        nuevaFila += '<td style="width:50px; background: url(\'/Imagenes/flags/' + nuevoObj[0].IMAGEN + '\') no-repeat center left; padding-left: 20px;" class="mytd2">' + nuevoObj[0].TORNEO + '</td>';
        nuevaFila += '<td style="width:50px;" class="mytd2">' + nuevoObj[0].HORA + '</td>';
        nuevaFila += '<td style="width:50px;" class="mytd2">' + nuevoObj[0].COD + '</td>';
        nuevaFila += '<td style="width:150px;">' + nuevoObj[0].EQUIPOS + '</td>';
        nuevaFila += '<td style="width:50px;" class="mytd2" id="tdJugada_' + nuevoObj[0].COD + '">' + nuevoObj[0].JUGADA + '</td>';
        nuevaFila += '<td style="width:50px;" class="mytd2" id="tdCuota_' + nuevoObj[0].COD + '">' + nuevoObj[0].CUOTA + '</td>';
        nuevaFila += '<td style="width:50px;" class="mytd2"><a href="javascript:delJugada(' + nuevoObj[0].COD + ');" class="fa fa-times fa-2x fa-lg hand" title="Eliminar" bs-tooltip></a></td>';
        nuevaFila += '</tr>';
        $("#tbodyJugada").html(contendor + nuevaFila);

        calcTotalCuotas();
        calcGananciaTotal();

    }

    function valRepetidos(JUGADA, COD, CUOTA) {

        const tableReg = document.getElementById('tblJugada');
        const searchText = COD;

        var ret = true;
        var index = 0;

        //Recorremos todas las filas con contenido de la tabla
        for (let i = 0; i < tableReg.rows.length; i++) {
            // Si el td tiene la clase "noSearch" no se busca en su cntenido
            if (tableReg.rows[i].classList.contains("noSearch")) {
                continue;
            }

            let found = false;
            const cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
            // Recorremos todas las celdas
            for (let j = 0; j < cellsOfRow.length && !found; j++) {
                const compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                // Buscamos el texto en el contenido de la celda
                if (searchText.length == 0 || compareWith.indexOf(searchText) > -1) {
                    found = true;
                    index = j;
                    break;
                }
            }

            if (found) {
                //tableReg.rows[i].style.display = '';
                document.getElementById('tdCuota_' + COD).innerHTML = CUOTA;
                document.getElementById('tdJugada_' + COD).innerHTML = JUGADA;
                ret = false;

                calcTotalCuotas();
                calcGananciaTotal();

                //delJugada(COD);
                //addJugada(JUGADA, COD, CUOTA);

                break;

            } else {
                // si no ha encontrado ninguna coincidencia, esconde la
                // fila de la tabla
                //tableReg.rows[i].style.display = 'none';
                ret = true;
            }
        }

        return ret;

    }

    function calcGananciaTotal() {
        //var montoTotal = 0;
        //$('#tblJugada tfoot').find('tr').each(function (i, el) {
        //    montoTotal += parseFloat($(this).find('td').eq(5).text());
        //});
        var montoTotal = document.getElementById('lblTotalfoot').innerText;
        if (isNullOrEmpty(montoTotal))
            montoTotal = 0

        var montoApuesta = document.getElementById('lblApuesta').value;
        var ganancia = montoTotal * montoApuesta;
        var value = intlRound(ganancia)
        document.getElementById('lblGanancia').innerHTML = formatNumber(value);
    }

    function formatNumber(num) {
        if (!num || num == 'NaN') return '-';
        if (num == 'Infinity') return '&#x221e;';
        num = num.toString().replace(/\$|\,/g, '');
        if (isNaN(num))
            num = "0";
        sign = (num == (num = Math.abs(num)));
        num = Math.floor(num * 100 + 0.50000000001);
        cents = num % 100;
        num = Math.floor(num / 100).toString();
        if (cents < 10)
            cents = "0" + cents;
        for (var i = 0; i < Math.floor((num.length - (1 + i)) / 3); i++)
            num = num.substring(0, num.length - (4 * i + 3)) + ',' + num.substring(num.length - (4 * i + 3));
        return (((sign) ? '' : '-') + num + '.' + cents);
    }

    function calcTotalCuotas() {
        var ret = 0;
        var sumtotal_col1 = 0;
        var myarrCuotas = [];
        $('#tblJugada tbody').find('tr').each(function (i, el) {
            sumtotal_col1 += parseFloat($(this).find('td').eq(5).text());
            myarrCuotas[i] = parseFloat($(this).find('td').eq(5).text());
        });

        //var rows = document.getElementById("tblJugada").rows.length;
        if (sumtotal_col1 > 0) {
            //$('#tblJugada tfoot tr th').eq(5).text("Total " + total_col1);
            const res = myarrCuotas.reduce((p, c) => p * c);
            ret = intlRound(res);

            //lo que ya tiene
            //var contendorfoot = $("#tfootJugada").html();
            var nuevaFilafoot = '<tr style="width:50px;" id="tfootJugada">';
            nuevaFilafoot += '<td style="width:50px;" class="mytd2"></td>';
            nuevaFilafoot += '<td style="width:50px;" class="mytd2"></td>';
            nuevaFilafoot += '<td style="width:50px;" class="mytd2"></td>';
            nuevaFilafoot += '<td style="width:150px;"></td>';
            nuevaFilafoot += '<td style="width:50px;" class="mytd2"></td>';
            nuevaFilafoot += '<td style="width:50px;" class="mytd3"><b><span id="lblTotalfoot">' + ret.toString() + '</span></b></td>';
            nuevaFilafoot += '<td style="width:50px;" class="mytd2"></td>';
            nuevaFilafoot += '</tr>';
            //$("#tfootJugada").html(nuevaFilafoot);
        }
        else {
            ret = "";
            //$("#tfootJugada").html("");
        }

        //const dtJugada = document.getElementById('tblJugada');
        const dtJugadaHeader = document.getElementById('tableHeaderJugada');
        document.getElementById('lblTotalfoot').innerText = ret;

        //dtJugadaHeader.getElementsByTagName("span")[0].innerText = "Cuota: " + ret;
        document.getElementById('lblCuota').innerText = ret;

    }

    function intlRound(numero, decimales, usarComa) {
        decimales = 2;
        usarComa = false;

        var opciones = {
            maximumFractionDigits: decimales,
            useGrouping: false
        };
        usarComa = usarComa ? "es" : "en";
        return new Intl.NumberFormat(usarComa, opciones).format(numero);
    }

    function mostrarFileUpload() {
        document.getElementById("txtUpload").style.display = 'block';
        document.getElementById("btnUpload").style.display = 'block';
    }

    function evalArchivo() {
        if (document.getElementById("txtUpload").files.length == 0) {
            document.getElementById("txtUpload").style.display = 'none';
            document.getElementById("btnUpload").style.display = 'none';
            return false;
        }
        else {
            return true;
        }
    }

    function buscar() {
        const input = document.getElementById("txtBuscar");
        const inputStr = input.value.toUpperCase();
        document.querySelectorAll('#tblmyDataTable tr:not(.header)').forEach((tr) => {
            const anyMatch = [...tr.children]
                .some(td => td.textContent.toUpperCase().includes(inputStr));
            if (anyMatch) tr.style.removeProperty('display');
            else tr.style.display = 'none';
        });
    }

    function makeString(arr) {
        if (arr.length === 1) return arr[0];
        const firsts = arr.slice(0, arr.length - 1);
        const last = arr[arr.length - 1];
        return firsts.join(', ') + ', ' + last;
    }

    function evaluaHora() {
        var val = document.getElementById('lblsearchProximos').innerHTML;
        var myHora = "";
        if (isNullOrEmpty(val)) {
            var currentTime = new Date();

            var hora = currentTime.getHours();
            var min = currentTime.getMinutes();
            var seg = currentTime.getSeconds();

            var myHora = PadLeft(hora, 2) + ":" + PadLeft(min, 2);

        }

        if (isNullOrEmpty(val)) {
            document.getElementById('lblsearchProximos').innerHTML = myHora;
            var element = document.getElementById("imgEvalHora");
            //element.classList.add("fa-border");

            //const note = document.querySelector('.note');
            //note.style.backgroundColor = 'yellow';
            element.style.color = '#f60';
        }
        else {
            document.getElementById('lblsearchProximos').innerHTML = "";
            var element = document.getElementById("imgEvalHora");
            //element.classList.remove("fa-border");
            element.style.removeProperty("color");
        }

        cargarTorneoHoy();

    }

    function cargarTorneoHoy() {
        const txtBuscarEquipo = document.getElementById("txtBuscar");
        const inputStr = txtBuscarEquipo.value.toUpperCase();
        var chkTodos = document.getElementById("seleccionar-todos");
        var hora = document.getElementById('lblsearchProximos').innerHTML;
        var listaTorneos = @Html.Raw(JsonConvert.SerializeObject(this.Model.ListaTorneosHoy));
        var listaTorneosvalues = [];

        //llena listaTorneosvalues para luego buscar solo esos
        $("#divlistaTorneosHoy .ckecks").each(function () {

            if ($(this).is(":checked")) {
                var myobj = $(this);
                listaTorneosvalues.push(myobj[0].value);
            } else {
                //alert('Desactivar ' + $(this).attr('id'));
            }

        });

        if (!isNullOrEmpty(listaTorneosvalues)) {
            var concatTorneos = makeString(listaTorneosvalues);
            document.getElementById("lblCadenaTorneos").innerHTML = concatTorneos;

            var listaFiles = @Html.Raw(JsonConvert.SerializeObject(this.Model.ListaTorneosHoy));
            if (listaTorneosvalues.length < listaFiles.length)
                chkTodos.checked = false;
            else
                chkTodos.checked = true;
        }
        else {
            chkTodos.checked = false;
        }
        //fin llena listaTorneosvalues

        //Busca en tablaa
        var t = document.getElementById("tblmyDataTable");
        var trs = t.getElementsByTagName("tr");
        var tds = null;

        for (var i = 0; i < trs.length; i++) {
            tds = trs[i].getElementsByTagName("td");

            var colTorneo = tds[0].getElementsByTagName("span")[0].innerText;
            var colNomLocal = tds[4].innerHTML;
            var colNomVisita = tds[8].innerHTML;
            var colHora = tds[1].innerHTML;

            var existeEnSelTorneo = evaluaExisteEnSeleccion(colTorneo, listaTorneosvalues);
            var existeEnLocal = evaluaExisteEnColumna(inputStr, colNomLocal);
            var existeEnVisita = evaluaExisteEnColumna(inputStr, colNomVisita);
            var existeEnSoloProximos = evaluaExisteEnProximos(hora, colHora);

            if (existeEnSelTorneo && existeEnSoloProximos && (existeEnLocal || existeEnVisita)) {
                trs[i].style.removeProperty('display');
            }
            else {
                trs[i].style.display = 'none';
            }
        }
        //fin busca en tabla

        const dtProgramaHeader = document.getElementById('tableHeader');
        //dtProgramaHeader.getElementsByTagName("span")[0].innerText = "Eventos: " + filaarray;
        //dtProgramaHeader.getElementsByTagName("span")[1].innerText = " /  " + trs.length;
        dtProgramaHeader.getElementsByTagName("span")[1].innerText = trs.length;


    }

    function isNullOrEmpty(str) {
        var returnValue = false;
        if (!str
            || str == null
            || str === 'null'
            || str === ''
            || str === '{}'
            || str === 'undefined'
            || str.length === 0) {
            returnValue = true;
        }
        return returnValue;
    }

    function evaluaExisteEnProximos(valor, col) {
        var ret = false;
        if (!isNullOrEmpty(valor)) {
            var hora1 = obtenerMinutos(valor)
            var hora2 = obtenerMinutos(col)
            if (hora2 >= hora1)
                ret = true;
        }
        else {
            ret = true;
        }

        return ret;
    }

    function obtenerMinutos(hora) {
        var spl = hora.split(":");
        return parseInt(spl[0]) * 60 + parseInt(spl[1]);
    }

    function evaluaExisteEnColumna(valor, col) {
        var ret = false;
        if (!isNullOrEmpty(valor)) {
            if (col.indexOf(valor) > -1)
                ret = true;
        }
        else {
            ret = true;
        }

        return ret;
    }

    function evaluaExisteEnSeleccion(valor, listaTorneosvalues) {
        var ret = false;
        if (!isNullOrEmpty(listaTorneosvalues)) {
            if (listaTorneosvalues.indexOf(valor) > -1)
                ret = true;
        }

        return ret;
    }

    function cargarPrograma(fileName) {
        var index = fileName.toUpperCase().indexOf("PROGRAMA");
        var cod = fileName.substring(index).replace("PROGRAMA", "").replace(".txt", "").trim();
        var url = '@Url.Action("Index", "Home")?f=' + cod;
        window.location.href = url;
    }

    function mostrarCalendario(year, month) {
        var now = new Date(year, month - 1, 1);
        var last = new Date(year, month, 0);
        var primerDiaSemana = (now.getDay() == 0) ? 7 : now.getDay();
        var ultimoDiaMes = last.getDate();
        var dia = 0;
        var resultado = "<tr bgcolor='silver'>";
        var diaActual = 0;
        var meses = Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");

        //dconsole.log(ultimoDiaMes);

        var last_cell = primerDiaSemana + ultimoDiaMes;

        // hacemos un bucle hasta 42, que es el máximo de valores que puede
        // 6 columnas de 7 dias
        for (var i = 1; i <= 42; i++) {
            if (i == primerDiaSemana) {
                // determinamos en que dia empieza
                dia = 1;
            }
            if (i < primerDiaSemana || i >= last_cell) {
                // celda vacia
                resultado += "<td>&nbsp;</td>";
            } else {
                // mostramos el dia
                var tieneEvento = esEvento(dia, month, year);

                if (dia == actual.getDate() && month == actual.getMonth() + 1 && year == actual.getFullYear())
                    if (tieneEvento)
                        resultado += "<td onclick='mostrarAlerta(" + dia + "," + month + "," + year + ");' class='esEventohoy'>" + dia + "</td>";
                    else
                        resultado += "<td onclick='mostrarAlerta(" + dia + "," + month + "," + year + ");' class='hoy'>" + dia + "</td>";
                else
                    if (tieneEvento)
                        resultado += "<td onclick='mostrarAlerta(" + dia + "," + month + "," + year + ")' class='esEvento'>" + dia + "</td>";
                    else
                        resultado += "<td onclick='mostrarAlerta(" + dia + "," + month + "," + year + ")'>" + dia + "</td>";
                dia++;
            }
            if (i % 7 == 0) {
                if (dia > ultimoDiaMes)
                    break;
                resultado += "</tr><tr>\n";
            }
        }
        resultado += "</tr>";

        // Calculamos el siguiente mes y año
        nextMonth = month + 1;
        nextYear = year;
        if (month + 1 > 12) {
            nextMonth = 1;
            nextYear = year + 1;
        }

        // Calculamos el anterior mes y año
        prevMonth = month - 1;
        prevYear = year;
        if (month - 1 < 1) {
            prevMonth = 12;
            prevYear = year - 1;
        }

        document.getElementById("calendar").getElementsByTagName("caption")[0].innerHTML = "<div><span style='font-size:22px;'>" + meses[month - 1] + "  " + year + "</span></div><div><a onclick='mostrarCalendario(" + prevYear + "," + prevMonth + ")'><i class='fa fa-arrow-circle-left fa-2x' aria-hidden='true'></i></a> <a onclick='mostrarCalendario(" + nextYear + "," + nextMonth + ")'><i class='fa fa-arrow-circle-right fa-2x' aria-hidden='true'></i></a></div>";
        document.getElementById("calendar").getElementsByTagName("tbody")[0].innerHTML = resultado;
    }

    function esEvento(dia, month, year) {
        var meses = Array("ENERO", "FEBRERO", "MARZO", "ABRIL", "MAYO", "JUNIO", "JULIO", "AGOSTO", "SEPTIEMBRE", "OCTUBRE", "NOVIEMBRE", "DICIEMBRE");
        var listaFiles = @Html.Raw(JsonConvert.SerializeObject(this.Model.ListaFiles));

        var mydia = PadLeft(dia, 2)
        var mymes = meses[month - 1];
        var cad = mydia + " DE " + mymes;
        var ret = false;

        var fecha = new Date();
        var anio = fecha.getFullYear();

        for (var i in listaFiles) {
            var nameFile = listaFiles[i].Name;
            if ((nameFile.indexOf(cad) > -1) && (year == anio)) {
                ret = true;
                break;
            }
        }
        return ret;
    }

    function mostrarAlerta(d, m, y) {
        var meses = Array("ENERO", "FEBRERO", "MARZO", "ABRIL", "MAYO", "JUNIO", "JULIO", "AGOSTO", "SEPTIEMBRE", "OCTUBRE", "NOVIEMBRE", "DICIEMBRE");
        var dia = PadLeft(d, 2)
        var mes = meses[m - 1];
        var cad = dia + " DE " + mes;

        var listaFiles = @Html.Raw(JsonConvert.SerializeObject(this.Model.ListaFiles));
        var tienePrograma = false;
        for (var i in listaFiles) {
            var nameFile = listaFiles[i].Name;
            if (nameFile.indexOf(cad) > -1) {
                tienePrograma = true;
                break;
            }
        }

        if (tienePrograma)
            cargarPrograma(listaFiles[i].Name);
        else
            alert('No hay eventos')

    }

    function PadLeft(value, length) {
        return (value.toString().length < length) ? PadLeft("0" + value, length) : value;
    }

</script>
